body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}
ul {
  display: flex;
  flex-direction: row;
}
li {
  width: 100%;
  padding-bottom: 5px;
  display: inline-block;
}

button:not(#home) {
  margin-right: 10px;
  margin-left: 10px;
}
